<!DOCTYPE html>
<html>
  <head>
    <title>SnackOverload2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <!--<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
      crossorigin="anonymous">
    </script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="/js/bootstrap.min.js"></script>-->
  </head>
  <!--
  <nav class="navbar text-center" style="margin-top: 75px">
    <%= link_to image_tag('logo.svg'), root_path, class: "img-fluid" %>
  </nav>
  -->

  <% if session[:user_id] %>
    <div class="navbar navbar-light bg-light" role="navigation">
      <div class="container" style="margin-top:3rem">
        <div class="row">
          <div class="col-sm-5"></div>
          <div class="col-sm-5"></div>
          <div class="col-sm-2 form-inline navbar-brand">
            <a><img src="<%= @user.image %>"></a>
            <a><%= @user.name %></a>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <div class="navbar navbar-light bg-light" role="navigation">
      <div class="container" style="margin-top:3rem">
        <div class="row">
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
            <a class="navbar-brand" >Snack Overload <strong>PREMIUM</strong></a>
            <a href="<%= login_url %>" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
    

  <body>
    <div class="container">
      <div class="text-center" style="padding-top: 7em">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
